---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
  <main>Dashboard</main>
</Layout>

<script>
  window.history.replaceState("", "", window.location.pathname);
</script>
