---
import Layout from "../layouts/Layout.astro";
import FormSignIn from "../components/react/FormSignIn";
import FormSignUp from "../components/react/FormSignUp";
import WalkForm from "../components/react/WalkForm";
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center items-center h-dvh">
    <div
      class="relative max-w-80 min-w-[1200px] h-[700px] border border-slate-200 shadow-slate-200 shadow-[0px_0px_50px]"
    >
      <WalkForm client:load />
      <FormSignIn client:load />
      <FormSignUp client:idle />
    </div>
  </main>
</Layout>
